@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
  font-variant: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff");
  font-variant: normal;
  font-display: swap;
}

@font-face {
  font-family: "Wisdom Script";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/wisdom_script_aj-webfont.woff2") format("woff2"),
    url("../fonts/wisdom_script_aj-webfont.woff") format("woff");
  font-variant: normal;
  font-display: swap;
}

@font-face {
  font-family: "DroidSerif";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/droidserifitalic.woff") format("woff"),
    url("../fonts/droidserifitalic.woff2") format("woff2");
  font-variant: normal;
  font-display: swap;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: "Roboto Slab", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 940px;
  margin: 0 auto;
}

header {
  padding: 36px 0;
  margin-bottom: 74px;
}

nav.page-navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-logo {
  margin: 0;
}

.page-logo__link {
  font-family: "Wisdom Script";
  font-size: 1.625rem;
  color: #fed136;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 0.05em;
}

ul.page-navigation__menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

li.page-navigation__menu-item {
  margin-right: 40px;
}

li.page-navigation__menu-item:last-of-type {
  margin: 0;
}

.page-navigation__menu-link {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: var(--main-font);
  text-transform: uppercase;
  color: #222222;
  transition: color 200ms linear;
}

.page-navigation__menu-link:hover,
.page-navigation__menu-link:focus {
  color: #fed136;
}

main {
  margin-bottom: 120px;
}

h2.services__title {
  font-size: 2.5rem;
  line-height: 1.875;
  font-weight: 700;
  color: #222222;
  font-family: var(--main-font);
  text-transform: uppercase;
  letter-spacing: -0.025em;
  text-align: center;
  margin: 0 0 4px;
}

p.services__text {
  font-family: "DroidSerif", sans-serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  color: #777777;
  margin: 0 0 78px;
}

ul.services__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

li.services__list-item {
  list-style: none;
  width: 290px;
  text-align: center;
}

li.services__list-item::before {
  display: block;
  content: "";
  width: 72px;
  height: 72px;
  margin: 0 auto 26px;
  border: 3px solid #fed136;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

li.services__list-item:first-child::before {
  background-image: url(../img/icon/Icon-Basket.png);
}

li.services__list-item:nth-child(2)::before {
  background-image: url(../img/icon/Icon-Laptop.png);
}

li.services__list-item:nth-child(3)::before {
  background-image: url(../img/icon/Icon-Locked.png);
}

h3.services__list-title {
  font-size: 1.125rem;
  line-height: 1.2;
  letter-spacing: -0.025em;
  font-family: var(--main-font);
  color: #222222;
  font-weight: 700;
  margin: 0 0 18px;
}

p.services__list-text {
  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: -0.025em;
  font-family: var(--secondary-font);
  color: #777777;
  margin: 0;
}

footer {
  height: 677px;
  background: url(../img/map-image.png), #222222;
  background-repeat: no-repeat;
  background-position: 100% 80%;
  padding-top: 106px;
}

h2.contact__title {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #ffffff;
  font-family: var(--main-font);
  letter-spacing: -0.025em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px;
}

p.contact__text {
  font-family: "DroidSerif", sans-serif;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  color: #777777;
  margin: 0 0 76px;
}

div.contact__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

div.contact__form-list {
  height: 212px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact__form-list input {
  height: 52px;
  width: 455px;
  border: none;
  border-radius: 2px;
  padding: 0 0 0 18px;
}

.contact__form-textarea {
  flex-basis: 455px;
  resize: none;
  padding: 18px 0 0 18px;
  border-radius: 2px;
}

.contact__form-textarea::placeholder,
.contact__form-list input::placeholder {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.025em;
  font-family: var(--main-font);
  color: #bbbbbb;
}

.contact__form-list input:focus,
.contact__form-textarea:focus {
  outline: none;
}

.contact__form-list input:required:focus:valid:not(:placeholder-shown),
.contact__form-textarea:required:focus:valid:not(:placeholder-shown) {
  border: 2px solid #008000;
}

.contact__form-list input:required:focus:invalid:not(:placeholder-shown),
.contact__form-textarea:required:focus:invalid:not(:placeholder-shown) {
  border: 2px solid #ff0000;
}

.contact__form-subject:focus:not(:placeholder-shown) {
  border: 2px solid #008000;
}

.contact__button {
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 66px;
  border-radius: 3px;
  border: none;
  background-color: #fed136;
  font-family: var(--main-font);
  font-size: 1.125rem;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
}
